.form-container {
    background-color:$ECBlue;
    border-radius: 7px;
    padding: 10px;
    width: 100%!important;
    max-width: 253px;
    h3 {
        color: #FFFFFF;
        font-weight: 600;
        margin: 0px 0px 7px 10px;
        font-size: 1.75em;
    }
    .side-contact-form {
        label {
            color: $white;
            font-weight: 400;
        }
        .checkbox-labels {
            display: inline;
            font-size: 0.8em;
        }
        p {
            color: $white;
            margin: 0px;
        }
        .interested {
            margin-left: 15px;
            margin-top: 6px;
            font-size: 0.8em;
        }
        textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
            display: inline;
            border-radius: 0;
            height: 25px;
            margin-bottom: 4px;
            width: 90%;
            margin-left: 12px;
            font-size: 0.8em;
        }
        input[type="checkbox"], input[type="radio"] {
            margin: 0 0.375em 0 15px;
        }
        button, input[type="submit"] {
            background-color: $ECRed;
            margin: 5px 0px 5px 15px;
            font-weight: 700;
            font-size: 1.2em;
            padding: 0.50em 1em;
            &:hover {
                background-color: darken($ECRed, 15%);
            }
        }
        .placeholder {
            color: $ECGrey;
            font-size: 0.8em;
        }
    }
}
